@font-face {
	font-family: 'LucidaConsole';
	src: url('files/LucidaConsole.ttf') format('ttf');
}

body {
	background-image: url("files/matrix.jpg");
	font-family: 'LucidaConsole';
}

h1 {
	background-color: black;
	color: green;
	width: 300px;
	height: 50px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 75px;
	border: 3px solid green;
	line-height: 50px;
	text-align: center;
}

h2 {
	margin-top: 25px;
}

a:link {
	color: #0099ff;
}

a:visited {
	color: #0099ff;
}

.texte{
	background-color: black;
	color: #008000;
	border: 3px solid green;
	margin-left: 10%;
	padding : 10px;
	text-align: left
	max-width: 500 px;
}

.langue {
	margin: auto;
	margin-top: 90px;
	text-align: center;
	margin-bottom: 45px;
	font-family: 'LucidaConsole';
}